<!DOCTYPE html>
<html lang="en-us" class="no-js">

	<head>
	
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% block title %}{% endblock %}</title>

        <meta name="description" content="Lomar Scapes Solutions, a fully operational general contracting company specializing in outdoor construction such as Paver patios, firepits & wood burning fireplaces, flagstone patios, walkways, driveways, pool decking renovation, stone and brick works, columns, retaining walls, outdoor lighting, porch & stoop renovation and new construction, concrete and much more.">
        <meta name="image" content="http://www.lomar-gcg.com/public/img/logo-lomar-gcg.png">
        <meta name="site_name" content="LoMar | General Contracting Group">
        <meta name="title" content="LoMar GCG - Space Solutions">
        <meta name="keywords" content="lomar, virginia, va, stone, driveways, entraces, outdoor, outdoor living, retainning wall, gardens, stone venners, fireplaces, firepits, grills, pool, pool desks">
        <meta name="type" content="Contracting company specializing in outdoor construction.">
        <meta name="url" content="http://www.lomar-gcg.com">
        <meta name="author" content="www.vkings.net">

        {% block stylesheets %}
            
        <!-- ================= Favicon ================== -->
        <!-- Standard -->
        <link rel="shortcut icon" href="{{ ('public/img/favicon.png') }}">
        <!-- Retina iPad Touch Icon-->
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('public/img/favicon-retina-ipad.png') }}">
        <!-- Retina iPhone Touch Icon-->
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('public/img/favicon-retina-iphone.png') }}">
        <!-- Standard iPad Touch Icon--> 
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('public/img/favicon-standard-ipad.png') }}">
        <!-- Standard iPhone Touch Icon--> 
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('public/img/favicon-standard-iphone.png') }}">

        <!-- ============== Resources style ============== -->
        <link rel="stylesheet" href="{{ asset('public/css/style-info.css') }}" />

        <!-- Modernizr runs quickly on page load to detect features -->
        <script src="{{ asset('public/js/modernizr.custom.js') }}"></script>
        
        {% endblock %}
        
	</head>
	
	<body>
                {% block body %}{% endblock %}
		

        {% block javascripts %}
            
	<!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
        <!-- ********** Resources jQuery ********** -->
        <!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->
	
	<!-- * Libraries jQuery, Easing and Bootstrap - Be careful to not remove them * -->
	<script src="{{ asset('public/js/jquery.min.js') }}"></script>
	<script src="{{ asset('public/js/jquery.easings.min.js') }}"></script>
	<script src="{{ asset('public/js/bootstrap.min.js') }}"></script>

	<!-- Accelerated JavaScript animation JS file -->
	<script src="{{ asset('public/js/velocity.min.js') }}"></script> 

	<!-- Accelerated JavaScript animation UI JS file -->
	<script src="{{ asset('public/js/velocity.ui.min.js') }}"></script> 

	<!-- Newsletter plugin -->
	<script src="{{ asset('public/js/notifyMe.js') }}"></script>

	<!-- Contact form plugin -->
	<script src="{{ asset('public/js/contact-me.js') }}"></script>

	<!-- Slideshow/Image plugin -->
	<script src="{{ asset('public/js/vegas.js') }}"></script>

	<!-- Scroll plugin -->
	<script src="{{ asset('public/js/jquery.mousewheel.js') }}"></script>

	<!-- Custom Scrollbar plugin -->
	<script src="{{ asset('public/js/jquery.mCustomScrollbar.js') }}"></script>

	<!-- Popup Newsletter Form -->
	<script src="{{ asset('public/js/classie.js') }}"></script>
	<script src="{{ asset('public/js/dialogFx.js') }}"></script>

	<!-- PhotoSwipe Core JS file -->
	<script src="{{ asset('public/js/photoswipe.js') }}"></script> 

	<!-- PhotoSwipe UI JS file -->
	<script src="{{ asset('public/js/photoswipe-ui-default.js') }}"></script>

	<!-- Main JS File -->
	<script src="{{ asset('public/js/main-info.js') }}"></script>
        
	<!--[if lt IE 10]><script type="text/javascript" src="{{ asset('public/js/placeholder.js') }}"></script><![endif]-->

        {% endblock %}
            
	</body>

</html>