<li><a href="{{ asset('public/images/image1.png') }}" class="fancybox"><img src="{{ asset('public/images/image1.png') }}" alt="Image"></a></li>
<li><a href="{{ asset('public/images/image2.png') }}" class="fancybox"><img src="{{ asset('public/images/image2.png') }}" alt="Image"></a></li>
<li><a href="{{ asset('public/images/image3.png') }}" class="fancybox"><img src="{{ asset('public/images/image3.png') }}" alt="Image"></a></li>
<li><a href="{{ asset('public/images/image4.png') }}" class="fancybox"><img src="{{ asset('public/images/image4.png') }}" alt="Image"></a></li>
<li><a href="{{ asset('public/images/image5.png') }}" class="fancybox"><img src="{{ asset('public/images/image5.png') }}" alt="Image"></a></li>
<li><a href="{{ asset('public/images/image6.png') }}" class="fancybox"><img src="{{ asset('public/images/image6.png') }}" alt="Image"></a></li>