<li><a href="{{ asset('public/images/gallery/stone-column.jpg') }}" class="fancybox"><img src="{{ asset('public/images/gallery/stone-column.jpg') }}" alt="Stone column"></a></li>
<li><a href="{{ asset('public/images/gallery/fire-pit-with-wall.jpg') }}" class="fancybox"><img src="{{ asset('public/images/gallery/fire-pit-with-wall.jpg') }}" alt="Fire pit with wall"></a></li>
<li><a href="{{ asset('public/images/gallery/fire-pit.jpg') }}" class="fancybox"><img src="{{ asset('public/images/gallery/fire-pit.jpg') }}" alt="Fire pit"></a></li>
<li><a href="{{ asset('public/images/gallery/pool.jpg') }}" class="fancybox"><img src="{{ asset('public/images/gallery/pool.jpg') }}" alt="Pool"></a></li>
<li><a href="{{ asset('public/images/gallery/pavers-steps.jpg') }}" class="fancybox"><img src="{{ asset('public/images/gallery/pavers-steps.jpg') }}" alt="Pavers steps"></a></li>
<li><a href="{{ asset('public/images/gallery/flagstone-small-walkway.jpg') }}" class="fancybox"><img src="{{ asset('public/images/gallery/flagstone-small-walkway.jpg') }}" alt="Image"></a></li>
<li><a href="{{ asset('public/images/gallery/patio-firepit.jpg') }}" class="fancybox"><img src="{{ asset('public/images/gallery/patio-firepit.jpg') }}" alt="Patio firepit"></a></li>
<li><a href="{{ asset('public/images/gallery/paver.jpg') }}" class="fancybox"><img src="{{ asset('public/images/gallery/paver.jpg') }}" alt="Paver"></a></li>