<section class="slider">
  <div class="banner">
    <div class="slider-content">
      <div id="rev_slider_35_1" class="rev_slider fullwidthabanner">
        <ul>
          <li data-transition="zoomout" data-masterspeed="700"> <img src="{{ asset('public/images/banner1.jpg') }}" alt="Image">
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="-120" 
                data-speed="600" 
                data-start="100" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn"> <img src="{{ asset('public/images/icon-slide1.png') }}" alt="Image"> </div>
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="-20" 
                data-speed="600" 
                data-start="200" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
              <h2> FIND YOUR NEW SPACE</h2>
            </div>
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="40" 
                data-speed="600" 
                data-start="300" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
              <h6> BEST OUTDOOR SPACE</h6>
            </div>
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="150" 
                data-speed="600" 
                data-start="400" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
            </div>
          </li>
          <!-- end banner 1 -->
          <li data-transition="zoomout" data-masterspeed="700"> <img src="{{ asset('public/images/banner2.jpg') }}" alt="Image">
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="-120" 
                data-speed="600" 
                data-start="100" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn"> <img src="{{ asset('public/images/icon-slide2.png') }}" alt="Image"> </div>
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="-20" 
                data-speed="600" 
                data-start="200" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
              <h2> GET QUOTE</h2>
            </div>
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="40" 
                data-speed="600" 
                data-start="300" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
              <h6> BEST PRICE</h6>
            </div>
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="150" 
                data-speed="600" 
                data-start="400" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
            </div>
          </li>
          <!-- end banner 2 -->
          <li data-transition="zoomout" data-masterspeed="700"> <img src="{{ asset('public/images/banner3.jpg') }}" alt="Image">
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="-120" 
                data-speed="600" 
                data-start="100" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn"> <img src="{{ asset('public/images/icon-slide3.png') }}" alt="Image"> </div>
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="-20" 
                data-speed="600" 
                data-start="200" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
              <h2>BUILD YOUR OWN PLACE</h2>
            </div>
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="40" 
                data-speed="600" 
                data-start="300" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
              <h6> BEST HOUSES & RESIDENCES</h6>
            </div>
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="150" 
                data-speed="600" 
                data-start="400" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
            </div>
          </li>
          <!-- end banner 3 -->
        </ul>
        <!-- end ul --> 
      </div>
      <!-- end rev_slider --> 
    </div>
    <!-- end slider-content --> 
  </div>
  <!-- end banner --> 
</section>
<!-- end slider -->
