{% extends "base.html.twig" %}

{% block title %}LoMar | Home{% endblock %}

{% block body %}

{% block loading %}
        {{ include('loading.html.twig')}}
{% endblock %} 

<div class="transition-overlay"></div>

{% block header %}
        {{ include('header.html.twig')}}
{% endblock %}

<section class="internal-header overlay-dark" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title">ABOUT US</h2>
        <ol class="breadcrumb">
          <li><a href="/home">Home</a></li>
          <li class="active">About Us</li>
        </ol>
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end internal-header -->
<section class="text-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
      	<figure><img src="{{ asset('public/images/image10.jpg') }}" alt="Image"></figure>
      <p class="lead">We have completed and continue to execute many international superstructure/infrastructure projects abroad and in Turkey</p>
      <p>Constructor family began construction business in 1943. The first governmental contract was the State Building Construction in Gazipaşa, Antalya in 1947. In the following years thousands of residential apartment buildings, industrial sites, shopping malls, sites, roads etc have been succesfully completed. During more than 60 years 4 million m2 construction area, more than 40.000 residentials have been constructed. The urban development of Adana has been mentioned together with the name of our company in construction field for many years. In 1985, our expanding organization has been changed as Constructor Company Inc </p>
      </div>
      <!-- end col-8 --> 
      <div class="col-md-4">
      	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">ABOUT CONTRUCTOR <i class="ion-chevron-down"></i></a> </h4>
            </div>
            <!-- end panel-heading -->
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body"> <img src="{{ asset('public/images/image2.jpg') }}" alt="Image" class="thumb-image"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua</div>
              <!-- end panel-body --> 
            </div>
            <!-- end panel-collapse --> 
          </div>
          <!-- end panel panel-default -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">HUMAN RESOURCES <i class="ion-chevron-down"></i></a> </h4>
            </div>
            <!-- end panel-heading -->
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body"> <img src="{{ asset('public/images/image6.jpg') }}" alt="Image" class="thumb-image"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put </div>
              <!-- end panel-body --> 
            </div>
            <!-- end panel-collapse --> 
          </div>
          <!-- end panel-default -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">OUR OFFICES <i class="ion-chevron-down"></i></a> </h4>
            </div>
            <!-- end panel-heading -->
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body"> <img src="{{ asset('public/images/image5.jpg') }}" alt="Image" class="thumb-image"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put</div>
              <!-- end panel-body --> 
            </div>
            <!-- end panel-collapse --> 
          </div>
          <!-- end panel-default --> 
        </div>
        <!-- end panel-group --> 
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end text-content -->
<section class="team-members">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <figure><img src="{{ asset('public/images/team-member1.jpg') }}" alt="Image"></figure>
        <figcaption>
          <h4>CIVIL ENGINEER</h4>
          <small>George S. Lucas</small></figcaption>
      </div>
       <!-- end col-2 -->
      <div class="col-md-2">
        <figure><img src="{{ asset('public/images/team-member2.jpg') }}" alt="Image"></figure>
        <figcaption>
          <h4>SENIOR ARCHITECHT</h4>
          <small>Paulinho Sabia</small></figcaption>
      </div>
       <!-- end col-2 -->
      <div class="col-md-2">
        <figure><img src="{{ asset('public/images/team-member3.jpg') }}" alt="Image"></figure>
        <figcaption>
          <h4>MACHINE ENGINEER</h4>
          <small>Ricky Mc allister</small></figcaption>
      </div>
      <!-- end col-2 -->
      <div class="col-md-2">
        <figure><img src="{{ asset('public/images/team-member4.jpg') }}" alt="Image"></figure>
        <figcaption>
          <h4>JUNIOR MANEGER</h4>
          <small>Toni Almeida</small></figcaption>
      </div>
      <!-- end col-2 -->
      <div class="col-md-4">
        <h2>AMAZING TEAM</h2>
        <p>When I came in he cleared the books and papers from the table, and with him.</p>
        <img src="{{ asset('public/images/signature.jpg') }}" alt="Image" class="signature">
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end team-members -->

<!-- end about-us -->

{% block newsletter %}
        {{ include('newsletter.html.twig')}}
{% endblock %} 

{% block footer %}
        {{ include('footer.html.twig')}}
{% endblock %} 

{% block modal %}
        {{ include('modal.html.twig')}}
{% endblock %}

{% endblock %}


