{% extends "base.html.twig" %}

{% block title %}LoMar | About US{% endblock %}

{% block body %}

{% block loading %}
        {{ include('loading.html.twig')}}
{% endblock %} 

<div class="transition-overlay"></div>

{% block header %}
        {{ include('header.html.twig')}}
{% endblock %}

<section class="internal-header overlay-dark" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title">ABOUT US</h2>
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">About Us</li>
        </ol>
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end internal-header -->

<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titles">
          <h6>WE LIKE TO INTRODUCE</h6>
          <h2>CONTRACTOR</h2>
        </div>
        <!-- end title --> 
      </div>
      <!-- end col-12 -->
      <div class="col-md-4 col-sm-4">
            <div class="services-box full-width">
              <figure><img src="{{ asset('public/images/image3.jpg') }}" alt="Image"></figure>
              <h4>OUR MISSION</h4>
              <p>To help you in the proccess of enhancing your dream. We are comited to provide each of our clients with the best and most exclusive design and worksmanship to assure full satisfaction each step of the way during and after a project.</p>
            </div>
            <!-- end services-box --> 
          </div>
          <!-- end col-4 -->
          <div class="col-md-4 col-sm-4">
            <div class="services-box full-width">
              <figure><img src="{{ asset('public/images/image11.jpg') }}" alt="Image"></figure>
              <h4>OUR GOAL</h4>
              <p>With a combined 20 years of experience covering the metropolitan area and its surroundings  such as Fairfax, Ashburn, Leesburg, Gainesville, Vienna, Mclean, Arlington. We are anxious to take on new projects in other cities to continue to grow and continue  help others create that especial outdoor living  space to  comfortably  accommodate great gatherings among friends and family. Bringing people closer!</p>
            </div>
            <!-- end services-box --> 
          </div>
          <!-- end col-4 --> 
          <div class="col-md-4 col-sm-4">
            <div class="services-box full-width">
              <figure><img src="{{ asset('public/images/image4.jpg') }}" alt="Image"></figure>
              <h4>WHAT WE DO</h4>
              <p>Lomar scapes solutions, a fully operational general contracting company specializing in outdoor construction such as Paver patios, firepits & wood burning fireplaces, flagstone patios, walkways, driveways, pool decking renovation, stone and brick works, columns, retaining walls, outdoor lighting, porch & stoop renovation and new construction, concrete and much more.</p>
              <ul>
                <li>Design and build</li>
                <li>Hardscapes</li>
                <li>Landscape</li>
                <li>New construction</li>
                <li>Old construction Renovation</li>
                <li>Snow removal</li>
                <li>Lawn maintenance and weekly lawn service</li>
              </ul>
            </div>
            <!-- end services-box --> 
          </div>
          <!-- end col-4 --> 
          
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end about-us -->


<!-- end about-us -->

{% block newsletter %}
        {{ include('newsletter.html.twig')}}
{% endblock %} 

{% block footer %}
        {{ include('footer.html.twig')}}
{% endblock %} 

{% block modal %}
        {{ include('modal.html.twig')}}
{% endblock %}

{% endblock %}


