{% extends "base.html.twig" %}

{% block title %}LoMar | About US{% endblock %}

{% block body %}

{% block loading %}
        {{ include('loading.html.twig')}}
{% endblock %} 

<div class="transition-overlay"></div>

{% block header %}
        {{ include('header.html.twig')}}
{% endblock %}

<section class="internal-header overlay-dark" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title">ABOUT US</h2>
        <ol class="breadcrumb">
          <li><a href="/home">Home</a></li>
          <li class="active">About Us</li>
        </ol>
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end internal-header -->
<section class="text-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      	<figure><img src="{{ asset('public/images/image10.jpg') }}" alt="Image"></figure>
      <p class="lead">2011-2016 | Our Humble Beginnings</p>
      <p>A success driven individual together with a workaholic, experienced gentleman joined forces to create a company that would rapidly increase their targets and expand their services in the construction industry. Now, 3 years in the making and solely owned and operated by the MAR, LoMar scapes solutions LLC, named after the founders beginning letters of their Last names is a fully operational General Contracting Company. with many job records in the book, now specializing on hardscapes such as Patios, Walkways, Walls & masonry Jobs etc is looking to expand territory and offer great services to many friends and family in the NOVA area. PLEASE LIKE to learn more about us and the services we provide.</p>
      </div>
      <!-- end col-8 --> 
     
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>


<!-- end about-us -->

{% block newsletter %}
        {{ include('newsletter.html.twig')}}
{% endblock %} 

{% block footer %}
        {{ include('footer.html.twig')}}
{% endblock %} 

{% block modal %}
        {{ include('modal.html.twig')}}
{% endblock %}

{% endblock %}


