{% extends "base.html.twig" %}

{% block title %}LoMar | Fireplaces, Firepits & Grills{% endblock %}

{% block body %}

{% block loading %}
        {{ include('loading.html.twig')}}
{% endblock %} 

<div class="transition-overlay"></div>

{% block header %}
        {{ include('header.html.twig')}}
{% endblock %}

<section class="internal-header overlay-dark" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title">FIREPLACES, FIREPITS & GRILLS</h2>
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li>Services</li>
          <li class="active">Fireplaces, Firepits & Grills</li>
        </ol>
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end internal-header -->
<section class="text-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
      	<figure><img src="{{ asset('public/images/service2.jpg') }}" alt="Image"></figure>
        <p>Add an outdoor fireplace. LoMar will create a place for you to enjoy outside activities, either in hot or cold weather by adding a family reunion point for cooking and have fun. We turn your yard into a place where all family members will wish to meet to chat and want to enjoy the most of their free time.</p>
      </div>
      <!-- end col-8 --> 
      <div class="col-md-4">
      	<aside class="content-side-menu">
            <ul>
                {% block service %}
                    {{ include('service.html.twig')}}
                {% endblock %} 
            </ul>
        </aside>
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end text-content -->

{% block newsletter %}
        {{ include('newsletter.html.twig')}}
{% endblock %} 

{% block footer %}
        {{ include('footer.html.twig')}}
{% endblock %} 

{% block modal %}
        {{ include('modal.html.twig')}}
{% endblock %}

{% endblock %}


