{% extends "base.html.twig" %}

{% block title %}LoMar | Home{% endblock %}

{% block body %}

{% block loading %}
        {{ include('loading.html.twig')}}
{% endblock %} 

<div class="transition-overlay"></div>

{% block header %}
        {{ include('header.html.twig')}}
{% endblock %}

<section class="gallery">
  <div class="container">
    <div class="row">
      <div class="col-xs-12"> 
      <div class="titles">
          <h6>GALLERY GRIDS</h6>
          <h2>SPACED</h2>
        </div>
        <!-- end title --> 
            <ul class="spaced-grids">
                {% block galley %}
                        {{ include('gallery.html.twig')}}
                {% endblock %}
            </ul>
        </div>
      <!-- end col-12 -->
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>

{% block newsletter %}
        {{ include('newsletter.html.twig')}}
{% endblock %} 

{% block footer %}
        {{ include('footer.html.twig')}}
{% endblock %} 

{% block modal %}
        {{ include('modal.html.twig')}}
{% endblock %}

{% endblock %}


