{% extends "base.html.twig" %}

{% block title %}LoMar | Home{% endblock %}

{% block body %}

{% block loading %}
        {{ include('loading.html.twig')}}
{% endblock %} 

<div class="transition-overlay"></div>
<header>
  <div class="side-box"> 
  	<span class="close-sidebar"><i class="ion-close"></i></span>
  	<div class="widget search">
    	<h4>QUICK SEARCH</h4>
        <form>
        	<input type="text" placeholder="Search here">
        	<button type="submit">GO</button>
        </form>
    </div>
    <!-- end widget -->
	<div class="widget text">
    	<img src="{{ asset('public/images/logo.png') }}" style="height: 100px" alt="Image">
        <p></p>
    </div>
    <!-- end text -->
    <div class="widget gallery">
    	<ul>
        {% block gallery %}
            {{ include('gallery.html.twig')}}
        {% endblock %}
        </ul>
    </div>
    <!-- end gallery -->
    <!--
    <div class="widget responsive">
    	<img src="{{ asset('public/images/icon-responsive.png') }}" alt="Image">
        <h5>RESPONSIVE DESIGN</h5>
    </div>
    -->
   <!-- end responsive -->
   <div class="widget social-media">
   	<ul>
            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
            <li><a href="#"><i class="ion-social-instagram"></i></a></li>
            <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
          </ul>
   </div>
   <!-- end social-media -->
   <small>Copyright © 2016<br> LoMar | General Contracting Group</small>
   </div>
  <!-- end side-menu -->
  <div class="search-bar">
    <form>
      <input type="text" placeholder="Type your word" autofocus >
      <button type="submit">SEARCH</button>
    </form>
    <span class="close-button"><i class="ion-close"></i></span> </div>
  <!-- end search-bar -->
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-3 hidden-xs">
          <h5 class="hidden-sm">CUSTOMER SERVICE : <b>+571 288 3130 MANASSAS</b></h5>
          <ul class="social-media">
            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
          </ul>
        </div>
        <!-- end col-6 -->
        <div class="col-md-6 col-sm-9 col-xs-12">
          <ul class="shop-menu">
            <li><a href="#" data-toggle="modal" data-target="#register-box">REGISTER</a></li>
            <li><a href="#" data-toggle="modal" data-target="#login-box">LOGIN</a></li>
            <li><a href="#" class="search-btn">SEARCH</a></li>
          </ul>
          <div class="language dropdown hidden-xs"> <a href="#" data-toggle="dropdown" class="dropdown-toggle"> <img src="{{ asset('public/images/en.png') }}" alt="Image"> ENGLISH <i class="ion-arrow-down-b"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="index-slider.html" class="transition"><img src="{{ asset('public/images/tr.png') }}" alt="Image"> TURKISH</a></li>
            <li><a href="index-slider.html" class="transition"><img src="{{ asset('public/images/br.png') }}" alt="Image"> PORTUGUES</a></li>
            <li><a href="index-slider.html" class="transition"><img src="{{ asset('public/images/fr.png') }}" alt="Image"> FRENCH</a></li>
          </ul>
          </div>
          <!-- end language -->
          <div class="cart"> <span class="item"><a href="cart.html" class="transition">2 ITEM(S)</a></span> <img src="{{ asset('public/images/icon-cart.svg') }}" alt="Image"> <span class="total">$1.289</span> </div>
          <!-- end cart --> 
        </div>
        <!-- end col-6 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </div>
  <!-- end top-bar -->
  <nav class="navbar navbar-default" role="navigation" id="nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle toggle-menu menu-left push-body" data-toggle="collapse" data-target="#mobile-menu"> <i class="ion-navicon"></i> </button>
        <a class="navbar-brand" href="index.html"><img src="{{ asset('public/images/logo.png') }}" style="height: 40px" alt="Image"></a> </div>
      <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="mobile-menu">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="index.html" class="transition">HOME</a></li>
          <li class="dropdown"> <a href="#">PAGES</a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="about-us.html" class="transition">ABOUT US</a></li>
                <li><a href="certificates.html" class="transition">CERTIFICATES</a></li>
                <li><a href="projects.html" class="transition">PROJECTS</a></li>
                <li><a href="gallery.html" class="transition">GALLERY</a></li>
                <li><a href="promo-video.html" class="transition">PROMO VIDEO</a></li>
                <li><a href="career.html" class="transition">CAREER</a></li>
                <li><a href="elements.html" class="transition">ELEMENTS</a></li>
                <li><a href="typography.html" class="transition">TYPOGRAPHY</a></li>
                <li><a href="price-list.html" class="transition">PRICE LIST</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="#">SERVICES</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" class="transition">CUSTOMIZATION</a></li>
              <li><a href="#" class="transition">RENOVATION</a></li>
              <li><a href="#" class="transition">ROOF SOLUTIONS</a></li>
              <li><a href="#" class="transition">KITCHEN REDESIGNING</a></li>
              <li><a href="#" class="transition">INTERIOR DESIGNS</a></li>
              <li><a href="#" class="transition">LANDSCAPE - GARDEN</a></li>
              <li><a href="#" class="transition">PARQUET FLOORS</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="#">SHOP</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" class="transition">ITEM LIST</a></li>
              <li><a href="#" class="transition">ITEM LIST - SIDEBAR</a></li>
              <li><a href="#" class="transition">ITEM DETAIL</a></li>
              <li><a href="#" class="transition">ITEM DETAIL - SIDEBAR</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="#">BLOG</a>
            <ul class="dropdown-menu" role="menu">   <li><a href="blog.html" class="transition">BLOG LIST</a></li>
              <li><a href="blog-sidebar.html" class="transition">BLOG LIST - SIDEBAR</a></li>
              <li><a href="blog-single-page.html" class="transition">SINGLE PAGE</a></li>
            </ul>
          </li>
          <li><a href="contact-us.html" class="transition">CONTAT US</a></li>
          <li class="side-menu">SIDE MENU<span></span><span class="spacing"></span><span></span></li>
        </ul>
        <!-- end navbar-nav --> 
      </div>
      <!-- end navbar-collapse --> 
    </div>
    <!-- end container--> 
  </nav>
  <!--- end nav --> 
</header>
<section class="slider">
  <div class="banner background2">
  </div>
  <!-- end banner -->
</section>
<!-- end slider -->
<section class="catalogues">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-7 col-xs-12">
        <div class="brochure">
          <div class="title-box"> DOWNLOAD BROCHURE </div>
          <div class="content"> <img src="{{ asset('public/images/icon7.png') }}" alt="Image" class="icon">
            <p>When I came in he cleared the books and papers </p>
            <a href="#">CLICK HERE</a> </div>
        </div>
        <!-- end brochure --> 
      </div>
      <!-- end col-6 -->
      <div class="col-md-6 col-sm-5 col-xs-12">
        <div class="boxes"> <img src="{{ asset('public/images/icon6.png') }}" alt="Image">
          <h5>VEHICLES</h5>
        </div>
        <!-- end boxes -->
        <div class="boxes"> <img src="{{ asset('public/images/icon5.png') }}" alt="Image">
          <h5>SERVICES</h5>
        </div>
        <!-- end boxes --> 
      </div>
      <!-- end col-6 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end catalogues -->
<section class="home-services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titles">
          <h6>THINGS HAVE OUR AMAZING</h6>
          <h2>SERVICES</h2>
        </div>
        <!-- end title --> 
      </div>
      <!-- end col-12 -->
      <div class="col-md-3 col-sm-6">
        <figure><img src="{{ asset('public/images/icon1.jpg') }}" alt="Image"></figure>
        <h4>CIMENTO</h4>
        <p>When I came in he cleared the books and papers from the table, and with him I went into plans and </p>
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6">
        <figure><img src="{{ asset('public/images/icon2.jpg') }}" alt="Image"></figure>
        <h4>TRUCK</h4>
        <p>When I came in he cleared the books and papers from the table, and with him I went into plans and </p>
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6">
        <figure><img src="{{ asset('public/images/icon3.jpg') }}" alt="Image"></figure>
        <h4>DIGGER</h4>
        <p>When I came in he cleared the books and papers from the table, and with him I went into plans and </p>
      </div>
      <!-- end col-3 -->
      <div class="col-md-3 col-sm-6">
        <figure><img src="{{ asset('public/images/icon4.jpg') }}" alt="Image"></figure>
        <h4>FORKLIFT</h4>
        <p>When I came in he cleared the books and papers from the table, and with him I went into plans and </p>
      </div>
      <!-- end col-3 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end home-services -->
<section class="quote background1 overlay-yellow" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5>MORE INFORMATION FILL UP TO FORM</h5>
        <h2>LET'S GET OFFER !</h2>
        <p>Furthermore 5 educational institutions and 18 commercial centers were built by Contractor has later become a group of companies providing services today in construction sector. </p>
        <a href="get-quote.html">GET QUOTE <i class="ion-chevron-right"></i></a> </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end quote -->
<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titles">
          <h6>WE LIKE TO INTRODUCE</h6>
          <h2>CONTRACTOR</h2>
        </div>
        <!-- end title --> 
      </div>
      <!-- end col-12 -->
      <div class="col-md-4 col-sm-12">
        <div class="left-image">
          <figure><img src="{{ asset('public/images/image2.jpg') }}" alt="Image"> <span>MAIN OFFICE</span> </figure>
        </div>
        <!-- end left-image --> 
      </div>
      <!-- end col-4 -->
      <div class="col-md-8 col-sm-12">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="services-box">
              <figure><img src="{{ asset('public/images/image3.jpg') }}" alt="Image"></figure>
              <h4>ABOUT DIGGER</h4>
              <p>When I came in he cleared the books and papers from the table, and with him I went into plans and</p>
              <ul>
                <li>Feedback as to how to get this approved</li>
                <li>While I’d be able to provide. </li>
                <li>I can only do after it has crossed</li>
                <li>certain threshold, quality wise</li>
              </ul>
            </div>
            <!-- end services-box --> 
          </div>
          <!-- end col-6 -->
          <div class="col-md-6 col-sm-6">
            <div class="services-box">
              <figure><img src="{{ asset('public/images/image4.jpg') }}" alt="Image"></figure>
              <h4>ABOUT WORKERS</h4>
              <p>When I came in he cleared the books and papers from the table, and with him I went into plans and</p>
              <ul>
                <li>Feedback as to how to get this approved</li>
                <li>While I’d be able to provide. </li>
                <li>I can only do after it has crossed</li>
                <li>certain threshold, quality wise</li>
              </ul>
            </div>
            <!-- end services-box --> 
          </div>
          <!-- end col-6 --> 
        </div>
      </div>
      <!-- end col-8 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end about-us -->
<section class="counter-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12 spacing">
        <div class="titles">
          <h6>WE HAVE FANCY & PREMIUM</h6>
          <h2>PROJECTS</h2>
        </div>
        <!-- end title -->
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a</p>
        <a href="#" class="button">READ MORE</a> </div>
      <!-- end col-7 -->
      <div class="col-lg-5 col-md-6 col-sm-12 spacing">
        <ul>
          <li> <i class="ion-ios-home-outline"></i> <span class="counter">52,147</span>
            <h4>PROJECTS DONE</h4>
          </li>
          <li> <i class="ion-ios-gear-outline"></i> <span class="counter">66,147</span>
            <h4>UPCOMING PROJECTS</h4>
          </li>
          <li> <i class="ion-ios-flag-outline"></i> <span class="counter">23,147</span>
            <h4>NEW PROJECTS</h4>
          </li>
        </ul>
      </div>
      <!-- end col-5 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end counter-section -->
<section class="upcoming-projects">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titles">
          <h6>WE PROUD OF OUR</h6>
          <h2>UPCOMING PROJECTS</h2>
        </div>
        <!-- end title --> 
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row -->
    <ul class="projects">
      <li class="1">
        <figure> <img src="{{ asset('public/images/image5.jpg') }}" alt="Image">
          <figcaption>
            <div class="table">
              <div class="inner">SKYDREW HOUSE</div>
            </div>
          </figcaption>
        </figure>
        <div class="progress">
          <div class="progress-bar wow first-progress" data-wow-delay="0.1s" role="progressbar" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100"> 47% </div>
          <!-- end progress-bar --> 
        </div>
        <!-- end progress --> 
      </li>
      <!-- end project -->
      <li class="1">
        <figure> <img src="{{ asset('public/images/image6.jpg') }}" alt="Image">
          <figcaption>
            <div class="table">
              <div class="inner">FERILOFT </div>
            </div>
          </figcaption>
        </figure>
        <div class="progress">
          <div class="progress-bar wow fourth-progress" role="progressbar" data-wow-delay="0.3s" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"> 90% </div>
          <!-- end progress-bar --> 
        </div>
        <!-- end progress --> 
      </li>
      <!-- end project -->
      <li class="1">
        <figure> <img src="{{ asset('public/images/image7.jpg') }}" alt="Image">
          <figcaption>
            <div class="table">
              <div class="inner">ANTHILL</div>
            </div>
          </figcaption>
        </figure>
        <div class="progress">
          <div class="progress-bar wow third-progress" role="progressbar" data-wow-delay="0.5s" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100"> 29% </div>
          <!-- end progress-bar --> 
        </div>
        <!-- end progress --> 
      </li>
      <!-- end project -->
      <li class="2">
        <figure> <img src="{{ asset('public/images/image7.jpg') }}" alt="Image">
          <figcaption>
            <div class="table">
              <div class="inner">SWISSA</div>
            </div>
          </figcaption>
        </figure>
        <div class="progress">
          <div class="progress-bar wow second-progress" role="progressbar" data-wow-delay="0.1s" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100"> 84% </div>
          <!-- end progress-bar --> 
        </div>
        <!-- end progress --> 
      </li>
      <!-- end project -->
      <li class="2">
        <figure> <img src="{{ asset('public/images/image8.jpg') }}" alt="Image">
          <figcaption>
            <div class="table">
              <div class="inner">TURKBUKU</div>
            </div>
          </figcaption>
        </figure>
        <div class="progress">
          <div class="progress-bar wow third-progress" role="progressbar" data-wow-delay="0.3s" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100"> 29% </div>
          <!-- end progress-bar --> 
        </div>
        <!-- end progress --> 
      </li>
      <!-- end project -->
      <li class="2">
        <figure> <img src="{{ asset('public/images/image9.jpg') }}" alt="Image">
          <figcaption>
            <div class="table">
              <div class="inner">BALMUMCU</div>
            </div>
          </figcaption>
        </figure>
        <div class="progress">
          <div class="progress-bar wow first-progress" data-wow-delay="0.5s" role="progressbar" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100"> 47% </div>
          <!-- end progress-bar --> 
        </div>
        <!-- end progress --> 
      </li>
      <!-- end project -->
      <li class="3">
        <figure> <img src="{{ asset('public/images/image5.jpg') }}" alt="Image">
          <figcaption>
            <div class="table">
              <div class="inner">BESIKTAS</div>
            </div>
          </figcaption>
        </figure>
        <div class="progress">
          <div class="progress-bar wow first-progress" data-wow-delay="0.1s" role="progressbar" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100"> 47% </div>
          <!-- end progress-bar --> 
        </div>
        <!-- end progress --> 
      </li>
      <!-- end project -->
      <li class="3">
        <figure> <img src="{{ asset('public/images/image9.jpg') }}" alt="Image">
          <figcaption>
            <div class="table">
              <div class="inner">ORTAKOY</div>
            </div>
          </figcaption>
        </figure>
        <div class="progress">
          <div class="progress-bar wow second-progress" role="progressbar" data-wow-delay="0.3s" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100"> 84% </div>
          <!-- end progress-bar --> 
        </div>
        <!-- end progress --> 
      </li>
      <!-- end project -->
      <li class="3">
        <figure> <img src="{{ asset('public/images/image7.jpg') }}" alt="Image">
          <figcaption>
            <div class="table">
              <div class="inner">GALATA</div>
            </div>
          </figcaption>
        </figure>
        <div class="progress">
          <div class="progress-bar wow first-progress" data-wow-delay="0.5s" role="progressbar" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100"> 47% </div>
          <!-- end progress-bar --> 
        </div>
        <!-- end progress --> 
      </li>
      <!-- end project -->
    </ul>
    <!-- end projects -->
    <ul class="filter">
      <li><a href="#" data-filter=".1" class="current">1</a></li>
      <li><a href="#" data-filter=".2">2</a></li>
      <li><a href="#" data-filter=".3">3</a></li>
    </ul>
    <!-- end filter --> 
  </div>
  <!-- end container --> 
</section>
<section class="features-news">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="titles">
          <h6>ALL ABOUT US</h6>
          <h2>CONTRACTOR</h2>
        </div>
        <!-- end title -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">ABOUT CONTRUCTOR <i class="ion-chevron-down"></i></a> </h4>
            </div>
            <!-- end panel-heading -->
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body"> <img src="{{ asset('public/images/image2.jpg') }}" alt="Image" class="thumb-image"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua</div>
              <!-- end panel-body --> 
            </div>
            <!-- end panel-collapse --> 
          </div>
          <!-- end panel panel-default -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">HUMAN RESOURCES <i class="ion-chevron-down"></i></a> </h4>
            </div>
            <!-- end panel-heading -->
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body"> <img src="{{ asset('public/images/image6.jpg') }}" alt="Image" class="thumb-image"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put </div>
              <!-- end panel-body --> 
            </div>
            <!-- end panel-collapse --> 
          </div>
          <!-- end panel-default -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">OUR OFFICES <i class="ion-chevron-down"></i></a> </h4>
            </div>
            <!-- end panel-heading -->
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body"> <img src="{{ asset('public/images/image5.jpg') }}" alt="Image" class="thumb-image"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put</div>
              <!-- end panel-body --> 
            </div>
            <!-- end panel-collapse --> 
          </div>
          <!-- end panel-default --> 
        </div>
        <!-- end panel-group --> 
      </div>
      <!-- end col-6 -->
      <div class="col-md-6 col-sm-12">
        <div class="titles">
          <h6>SOME UPDATES AND</h6>
          <h2>RECENT NEWS</h2>
        </div>
        <!-- end title -->
        <div class="owl-news">
          <div class="item">
            <div class="home-news">
              <figure> <img src="{{ asset('public/images/banner2.jpg') }}" alt="Image"> <span class="date"><b>23</b>JUN</span> </figure>
              <small>Writtern by Themezinho</small>
              <h3 class="title"><a href="#">Provide contextual feedback messages for typical user actions.</a></h3>
            </div>
            <!-- end home-news --> 
          </div>
          <!-- end item -->
          <div class="item">
            <div class="home-news">
              <figure> <img src="{{ asset('public/images/banner3.jpg') }}" alt="Image"> <span class="date"><b>30</b>MAR</span> </figure>
              <small>Writtern by Themezinho</small>
              <h3 class="title"><a href="#">High life accusamus terry richardson ad squid</a></h3>
            </div>
            <!-- end home-news --> 
          </div>
          <!-- end item --> 
        </div>
        <!-- end owl-news --> 
      </div>
      <!-- end col-6 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end features-news -->
<section class="logos">
  <div class="container">
    <div class="row">
      <h2>LOGOS</h2>
      <div class="col-md-2 col-sm-4 col-xs-6"> <img src="{{ asset('public/images/logo1.png') }}" alt="Image"> </div>
      <!-- end col-2 -->
      <div class="col-md-2 col-sm-4 col-xs-6"> <img src="{{ asset('public/images/logo2.png') }}" alt="Image"> </div>
      <!-- end col-2 -->
      <div class="col-md-2 col-sm-4 col-xs-6"> <img src="{{ asset('public/images/logo3.png') }}" alt="Image"> </div>
      <!-- end col-2 -->
      <div class="col-md-2 col-sm-4 col-xs-6"> <img src="{{ asset('public/images/logo4.png') }}" alt="Image"> </div>
      <!-- end col-2 -->
      <div class="col-md-2 col-sm-4 col-xs-6"> <img src="{{ asset('public/images/logo5.png') }}" alt="Image"> </div>
      <!-- end col-2 -->
      <div class="col-md-2 col-sm-4 col-xs-6"> <img src="{{ asset('public/images/logo6.png') }}" alt="Image"> </div>
      <!-- end col-2 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end logos -->
<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titles">
          <h6>HAPPY CLIENTS SAYS</h6>
          <h2>TESTIMONIALS</h2>
        </div>
        <!-- end title -->
        <div class="owl-testimonials">
          <div class="item">
            <figure> <img src="{{ asset('public/images/client1.jpg') }}" alt="Image"> </figure>
            <h3>Air Products</h3>
            <small>General Manager</small>
            <p>Global business of creating physical infrastructure such as dams, highways, bridges, factories, airports, and power plants. It also includes millions of smaller projects to protect human activity with walls, roofs, and floors. Also</p>
          </div>
          <!-- end item -->
          <div class="item">
            <figure> <img src="{{ asset('public/images/client2.jpg') }}" alt="Image"> </figure>
            <h3>Creative Commons</h3>
            <small>Architect - Engineer</small>
            <p>Construction included is the provision for electricity, lighting, heating, and cooling for people who live and work in those buildings.Construction and building are heavily regulated at all levels of government and by codes and standards.</p>
          </div>
          <!-- end item -->
          <div class="item">
            <figure> <img src="{{ asset('public/images/client3.jpg') }}" alt="Image"> </figure>
            <h3>Bitbucket</h3>
            <small>Marketting Manager</small>
            <p>Engineers at Forest Products Laboratory have constructed a low-cost safe room prototype out of ordinary lumber that can withstand winds up to 250 mph. If brought to market, the safe room can be purchased as a kit and assembled at home, using basic tools</p>
          </div>
          <!-- end item --> 
        </div>
        <!-- end carousel --> 
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end testimonials -->
<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-12">
        <div class="titles">
          <h6>SIGN UP FOR OUR </h6>
          <h2>NEWSLETTER</h2>
        </div>
        <!-- end title -->
        <form>
          <div class="form-group">
            <input type="text" placeholder="Your e-mail">
            <button type="submit">SUBSCRIBE</button>
          </div>
          <small>I promise, we won’t spam you!</small>
        </form>
      </div>
      <!-- end col-8 -->
      <div class="col-md-4 col-sm-5 hidden-xs"> <img src="{{ asset('public/images/newsletter-image.png') }}" alt="Image" class="image"> </div>
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end newsletter -->
    
    {% block footer %}
            {{ include('footer.html.twig')}}
    {% endblock %} 

    {% block modal %}
            {{ include('modal.html.twig')}}
    {% endblock %}

{% endblock %}

