{% extends "base.html.twig" %}

{% block title %}LoMar | Home{% endblock %}

{% block body %}

{% block loading %}
        {{ include('loading.html.twig')}}
{% endblock %} 

<div class="transition-overlay"></div>

{% block header %}
        {{ include('header.html.twig')}}
{% endblock %}

{% block slider %}
        {{ include('slider.html.twig')}}
{% endblock %}

    <section class="catalogues">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-7 col-xs-12"></div>
                <!-- end col-6 -->
                    <div class="col-md-6 col-sm-5 col-xs-12">
                        <div class="boxes"> <img src="{{ asset('public/images/icon5.png') }}" alt="Image">
                          <h5>SERVICES</h5>
                        </div>
                        <!-- end boxes --> 
                    </div>
                <!-- end col-6 --> 
            </div>
            <!-- end row --> 
        </div>
        <!-- end container --> 
    </section>
    <!-- end catalogues -->
    
    <section class="home-services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titles">
              <h6>THINGS HAVE OUR AMAZING</h6>
              <h2>SERVICES</h2>
            </div>
            <!-- end title --> 
          </div>
          <!-- end col-12 -->
          <div class="col-md-4 col-sm-6">
            <figure><img src="{{ asset('public/images/service3.jpg') }}" class="img-responsive" style="width: 100%" alt="Image"></figure>
            <h4>DRIVEWAYS & ENTRACES</h4>
            <p>We offer our experience and knowledge in the construction of paved roads. We will create for you attractive and exclusive designs to acclimate your space. LoMar promises durability and easy maintenance, as our paved walkways are able to support much more weight than conventional concrete driveways, because it will never be broken, thanks to its flex format that allows to support more weight and pressure.</p>
          </div>
          <!-- end col-3 -->
          <div class="col-md-4 col-sm-6">
            <figure><img src="{{ asset('public/images/service1.jpg') }}" class="img-responsive" style="width: 100%" alt="Image"></figure>
            <h4>OUTDOOR LIVING</h4>
            <p>LoMar has specialized in providing solutions according to the needs and demands of each of our customers/clients. Our main goal is to create a space of comfort, unique and personalized. We are dedicated to conducting stonework and paving jobs, using most avant garde materials and techniques. We work for you in different outdoor areas, including: patios, barbecues, woodburning fireplaces, campfires, living areas and more.</p>
          </div>
          <!-- end col-3 -->
          <div class="col-md-4 col-sm-6">
            <figure><img src="{{ asset('public/images/service5.jpg') }}" class="img-responsive" style="width: 100%" alt="Image"></figure>
            <h4>RETAINING WALL & GARDENS</h4>
            <p>If you are thinking of building a retaining wall, leave it to us. LoMar will design and install the retaining wall that you need to address the pending elevation changes and irregular on the ground. Our goal is to offer you a solution to stabilize the concentration of the soil behind the wall, even large amounts of land. To beautify the exterior of your home we also recommend a retaining wall in pool decks, wood fire and patios</p>
          </div>
          <!-- end col-3 -->
          <div class="col-md-4 col-sm-6">
            <figure><img src="{{ asset('public/images/service4.jpg') }}" class="img-responsive" style="width: 100%" alt="Image"></figure>
            <h4>CUSTOM STONE VENEERS</h4>
            <p>Our stone veneer is the best alternative to improve the exterior of your home. LoMar is responsible for building modern designs and current styles for you to own an attractive sidewalk. We have specialized in stone jobs, hardscaping and wood veneer. We have plenty of natural stones for decorative or protective finishes. With our veneer you can get a new look and own a place full of warmth. </p>
          </div>
          <!-- end col-3 -->
          <div class="col-md-4 col-sm-6">
            <figure><img src="{{ asset('public/images/service2.jpg') }}" class="img-responsive" style="width: 100%" alt="Image"></figure>
            <h4>FIREPLACES, FIREPITS & GRILLS</h4>
            <p>Add an outdoor fireplace. LoMar will create a place for you to enjoy outside activities, either in hot or cold weather by adding a family reunion point for cooking and have fun. We turn your yard into a place where all family members will wish to meet to chat and want to enjoy the most of their free time.</p>
          </div>
          <!-- end col-3 -->
          <div class="col-md-4 col-sm-6">
            <figure><img src="{{ asset('public/images/service6.jpg') }}" class="img-responsive" style="width: 100%" alt="Image"></figure>
            <h4>POOL DECKS & PATHWAYS</h4>
            <p>LoMar is the right one to fulfill/accomplish your dream of paving the yard of your home just the way you want. You will have the best group of specialists in construction of patios, pools and walkways of Washington DC, Northern Virginia and surrounding areas, who will turn your vision into reality. We will create for you a functional, pleasant and comfortable space to relax, entertain or perform multiple outdoor activities. The use of excellent materials and greater commitment to each of our creations guarantees our customers enjoy high quality standards in creating a personalized, durable and low maintenance yard.</p>
          </div>
          <!-- end col-3 -->
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </section>
    <!-- end home-services -->
    
    <section class="quote background1 overlay-yellow" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h5>MORE INFORMATION FILL UP TO FORM</h5>
            <h2>LET'S GET OFFER !</h2>
            <p></p>
            <a href="get-quote.html">GET QUOTE <i class="ion-chevron-right"></i></a> </div>
          <!-- end col-12 --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end container --> 
    </section>
<!-- end quote -->
<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titles">
          <h6>WE LIKE TO INTRODUCE</h6>
          <h2>CONTRACTOR</h2>
        </div>
        <!-- end title --> 
      </div>
      <!-- end col-12 -->
      <div class="col-md-4 col-sm-12">
        <div class="left-image">
          <figure><img src="{{ asset('public/images/image2.jpg') }}" class="img-thumbnail" alt="Image"> <span>ABOUT</span> </figure>
        </div>
        <!-- end left-image --> 
      </div>
      <!-- end col-4 -->
      <div class="col-md-8 col-sm-12">
        <div class="row">
          <div class="col-md- col-sm-6">
            <div class="services-box">
              <figure><img src="{{ asset('public/images/image3.jpg') }}" alt="Image"></figure>
              <h4>ABOUT DIGGER</h4>
              <p>When I came in he cleared the books and papers from the table, and with him I went into plans and</p>
              <ul>
                <li>Feedback as to how to get this approved</li>
                <li>While I’d be able to provide. </li>
                <li>I can only do after it has crossed</li>
                <li>certain threshold, quality wise</li>
              </ul>
            </div>
            <!-- end services-box --> 
          </div>
          <!-- end col-6 -->
          <div class="col-md-6 col-sm-6">
            <div class="services-box">
              <figure><img src="{{ asset('public/images/image4.jpg') }}" alt="Image"></figure>
              <h4>ABOUT WORKERS</h4>
              <p>When I came in he cleared the books and papers from the table, and with him I went into plans and</p>
              <ul>
                <li>Feedback as to how to get this approved</li>
                <li>While I’d be able to provide. </li>
                <li>I can only do after it has crossed</li>
                <li>certain threshold, quality wise</li>
              </ul>
            </div>
            <!-- end services-box --> 
          </div>
          <!-- end col-6 --> 
        </div>
      </div>
      <!-- end col-8 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end about-us -->

<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-12">
        <div class="titles">
          <h6>SIGN UP FOR OUR </h6>
          <h2>NEWSLETTER</h2>
        </div>
        <!-- end title -->
        <form>
          <div class="form-group">
            <input type="text" placeholder="Your e-mail">
            <button type="submit">SUBSCRIBE</button>
          </div>
          <small>I promise, we won’t spam you!</small>
        </form>
      </div>
      <!-- end col-8 -->
      <div class="col-md-4 col-sm-5 hidden-xs"> <img src="{{ asset('public/images/newsletter-image.png') }}" alt="Image" class="image"> </div>
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end newsletter -->
    
{% block footer %}
        {{ include('footer.html.twig')}}
{% endblock %} 

{% block modal %}
        {{ include('modal.html.twig')}}
{% endblock %}

{% endblock %}

