{% extends "base.html.twig" %}

{% block title %}LoMar | Pool Decks & Pathways{% endblock %}

{% block body %}

{% block loading %}
        {{ include('loading.html.twig')}}
{% endblock %} 

<div class="transition-overlay"></div>

{% block header %}
        {{ include('header.html.twig')}}
{% endblock %}

<section class="internal-header overlay-dark" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title">POOL DECKS & PATHWAYS</h2>
        <ol class="breadcrumb">
          <li><a href="/home">Home</a></li>
          <li>Services</li>
          <li class="active">Pool Decks & Pathways</li>
        </ol>
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end internal-header -->
<section class="text-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
      	<figure><img src="{{ asset('public/images/service6.jpg') }}" alt="Image"></figure>
        <p>LoMar is the right one to fulfill/accomplish your dream of paving the yard of your home just the way you want. You will have the best group of specialists in construction of patios, pools and walkways of Washington DC, Northern Virginia and surrounding areas, who will turn your vision into reality. We will create for you a functional, pleasant and comfortable space to relax, entertain or perform multiple outdoor activities. The use of excellent materials and greater commitment to each of our creations guarantees our customers enjoy high quality standards in creating a personalized, durable and low maintenance yard.</p>
      </div>
      <!-- end col-8 --> 
      <div class="col-md-4">
      	<aside class="content-side-menu">
            <ul>
                {% block service %}
                    {{ include('service.html.twig')}}
                {% endblock %} 
            </ul>
        </aside>
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end text-content -->

{% block newsletter %}
        {{ include('newsletter.html.twig')}}
{% endblock %} 

{% block footer %}
        {{ include('footer.html.twig')}}
{% endblock %} 

{% block modal %}
        {{ include('modal.html.twig')}}
{% endblock %}

{% endblock %}


